 .fonds {
   background-color: hsla(0, 0%, 0%, 0.6);
   height: .1vh;
   width: .1vw;
   display: block;
   position: fixed;
   top: 0px;
   left: 0x;
   z-index: 1052;

 }
 .fonds2 {
  background-color: hsla(0, 0%, 0%, 0.6);
  height: 100vh;
  width: 100vw;
  display: block;
  position: fixed;
  top: 0px;
  left: 0x;
  z-index: 1051;

}


 .form_fonds {
   z-index: 1100;
   display: block;
   height: 640px;
   width: 640px;
   position: fixed;
   top: 2em;
   left: 50%;
   margin-left: -240px;
   border-radius: 5px;
   overflow: hidden;
   background-color: white;
 }

 .form_fonds h2 {
   margin-top: 30px;
   margin-bottom: 0px;
   text-align: center;
 }


 .form_class {
   padding:1em 2em;
   background-color: white;
 }


 .form_contenu {
   min-height: 85px;

 }

 .form_contenu p {
   margin-top: 5px;
   margin-bottom: 15px;
   color: rgb(196, 37, 37);
   text-align: center;
 }

 .label_input {
   display: block;
   text-align: left;
   position: relative;
   top: 30px;
 }

 .input_formulaire {
   display: block;
   position: relative;
   left: 20%;
   width: 60%;
   height: 30px;
   padding: 2px 10px;
   border-radius: .4em;
   background-color: rgb(245, 245, 245);
 }


 .btn_type {
   appearance: none;
   backface-visibility: hidden;
   background-color: #0b5ed7;
   border-radius: 5px;
   border-style: none;
   box-shadow: rgba(39, 97, 174, 0.15) 0 4px 9px;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: normal;
   line-height: 1.5;
   outline: none;
   overflow: hidden;
   padding: 10px 20px;
   position: relative;
   text-align: center;
   text-decoration: none;
   transform: translate3d(0, 0, 0);
   transition: all .3s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: top;
   white-space: nowrap;
 }

 .btn_type:hover {
   background-color: #0d6efd;
   color: white;
   opacity: 1;
   transform: translateY(0);
   transition-duration: .35s;
 }

 .btn_type:active {
   transform: translateY(2px);
   transition-duration: .35s;
 }

 .btn_type:hover {
   box-shadow: rgba(39, 97, 174, 0.2) 0 6px 12px;
 }

 .btn_envoie {
   position: relative;
   bottom: -15px;
   left: 40%;
 }

 .btn_cancel {
   display: block;
   position: relative;
   left: 95%;
   top: 1.5%;
   background-color: rgba(255, 255, 255, 0);
   border: none;
   font-size: larger;
   z-index: 10;
 }

 .btn_cancel:hover {
   cursor: pointer;
 }